// my account page before login
.woocommerce-account {
  #customer_login {
    @media only screen and (min-width: 1024px) {
      gap: 5%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: 1600px) {
      gap: 10%;
    }
  }
}

.woocommerce-form {
  border: 1px solid $color__border-lighter;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-top: 0;
  padding: 20px;
}

.woocommerce-form-login__rememberme {
  display: block;
  margin-bottom: 10px;
}

// my account page after login
.woocommerce-account.logged-in {
  .entry-content {
    .woocommerce {
      gap: 30px;
      display: grid;

      @media only screen and (min-width: 1024px) {
        gap: 5%;
        grid-template-columns: 30% 1fr;
      }
    }
  }

  .woocommerce-MyAccount-navigation {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

.woocommerce-MyAccount-navigation {
  @media only screen and (min-width: 1024px) {
    max-width: 320px;
  }

  li {
    margin: 0;

    a {
      color: var(--colorPrimary, #{$color__text-main});
      display: flex;
      padding: 14px 20px 14px 15px;
      transition: 0.15s ease-in-out;
    }
  }

  .is-active {
    background-color: $color__background-lighter;
    border-left: 4px solid var(--colorPrimary, #{$color__text-main});
    font-weight: 700;
  }
}

.woocommerce-MyAccount-content {
  >p {
    a {
      color: var(--colorPrimary, #{$color__text-main});
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

// Addresses tab
.woocommerce-Addresses {
  display: grid;

  @media only screen and (min-width: 1024px) {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  address {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    color: var(--colorPrimary, #{$color__text-main});
    font-size: 16px;
    font-style: italic;
    line-height: 1.625;
    padding: 15px 20px;
  }
}

.woocommerce-Address-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--colorPrimary, #{$color__text-main});
  font-weight: 600;
  margin-bottom: 16px;

  h3 {
    margin-bottom: 0;
  }

  a {
    color: var(--colorPrimary, #{$color__primary});
    font-size: 15px;
    font-weight: 700;
    margin-left: 15px;
    text-decoration: underline;
    transition: 0.15s ease-in-out;
  }
}

.woocommerce-MyAccount-content {
  fieldset {
    border: 1px solid $color__border-lighter;
    border-radius: $radius__main;
    padding: 20px;

    p+p {
      margin-top: 20px;
    }
  }

  legend,
  label {
    color: var(--colorPrimary, #{$color__text-main});
    font-size: 17px;
    font-weight: 600;
    // margin-bottom: 15px;
    // padding: 0 10px;
  }

  label {
    font-size: 15px;
  }
}

.woocommerce-form-row {
  input+span {
    margin-top: 3px;
    display: flex;
    font-size: 15px;
    color: $color__text-light;
  }
}

.woocommerce-EditAccountForm {
  gap: 30px;
  display: grid;

  .clear {
    display: none;
  }

  p {
    margin: 0;
  }
}

.woocommerce-LostPassword.lost_password {
  margin-bottom: 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// woocommerce my account password strength
.woocommerce-password-strength {
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 6px;
  padding: 7px 15px;
  text-align: center;

  &.short {
    background-color: #f1adad;
    border-color: #e35b5b;
  }

  &.bad {
    background-color: #fbc5a9;
    border-color: #f78b53;
  }

  &.good {
    background-color: #ffe399;
    border-color: #ffc733;
  }

  &.strong {
    background-color: #c1e1b9;
    border-color: #83c373;
  }
}

.woocommerce-password-hint {
  display: block;
  margin-top: 6px;
}

.woocommerce-account {
  &:not(.logged-in) {
    .woocommerce {

      .cartsylite-login-form-wrapper,
      >.woocommerce-ResetPassword,
      >.woocommerce-form {
        max-width: 500px;
        margin: 0 auto;
      }

      .u-columns {
        .cartsylite-login-form-wrapper {
          max-width: none;
        }
      }
    }
  }
}

.u-columns .cartsylite-login-form-wrapper {
  max-width: none;
}

.woocommerce-PaymentMethods {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.woocommerce-PaymentMethod>.woocommerce-PaymentBox,
.woocommerce-Payment>.form-row {
  padding-left: 20px;
}

.wc-payment-form {
  >.form-row {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

// order
.cartsylite-with-sidebar {
  .woocommerce-orders-table {
    .woocommerce-orders-table__cell-order-actions {
      a {
        @media only screen and (max-width: 1535px) {
          background-color: transparent;
          color: var(--colorPrimary, #{$color__primary});
          padding: 0;
          text-decoration: underline;
          &:hover {
            color: var(--colorPrimaryHover, #{$color__primary__hover});
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.woocommerce-orders-table {
  @include for-landscape-phone {
    tbody {
      tr {
        &:nth-child(odd) {
          td {
            background-color: #f9f9f9;
          }
        }
      }
    }
  }
}